.search-container{
    background-color: rgb(206, 151, 151);
    text-align: center;

}
.search-container input{
    width: 75%;

}
.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    border-right: 2px solid lightblue;
    margin-right: 5px;
    margin-left: 50px;
}