.product{
    display: flex;
    border-bottom: 1px solid lightblue;
    margin-right: 10px;
}
.product-name{
    color: blue;
    font-weight: 400;

}
.regular-btn{
    background-color: goldenrod;
    width: 90px;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.icon-color{
    color: gold;
}